# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDEs
# ignore everything in .vscode folder except recommended extensions and project-specific settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# eslint
.eslintcache
